@model Online_Library.Models.User

@{
    ViewData["Title"] = "Profile";

    DateTime currentDate = DateTime.Now;
    bool isValidSubsription = Model.SubscriptionDate.HasValue && currentDate <= Model.SubscriptionDate.Value.AddMonths(1);
}

<h1>Детайли</h1>

<div>
    <h4>Потребител</h4>
    <div>
        <a asp-action="BorrowedBooks" asp-controller="Book" class="btn btn-warning"><i class="bi bi-book"></i>Моите заети Книги </a>
        <a asp-action="MyReadBooks" asp-controller="Book" class="btn btn-dark"><i class="bi bi-book"></i>Моите Прочетени Книги </a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Birthdate)
        </dd>


        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>

    <div class="m-2">
        <a asp-action="EditProfile" class="btn btn-success"><i class="bi bi-pencil-fill"></i>Редактиране</a>

        <a href="#" onclick="confirmDelete('@Model.Id')" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Изтриване</a>

    </div>


</div>


<script>
    function confirmDelete(id) {
        if (confirm(`Сигурни ли сте че искате да изтриете вашия профил? \n Действието е невъзвръщаемо!`)) {
            window.location.href = `/Home/DeleteLoggedUser/${id}`;
        }
    }

</script>
