@model Online_Library.View_Model.Books.BookDetailsVM

@{
    ViewData["Title"] = "Details";
    var value = this.ViewContext.HttpContext.Session.GetString("loggedUser");
    User loggedUser = null;
    if (value != null)
    {
        loggedUser = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(value);
    }
}


<h1></h1>

<div class="d-flex-column  align-items-center justify-content-between">
    <div class="card mb-3" style="width:80%">
        <div class="card-body" style="display:flex">
            <div class="d-flex">
                <div class="col-10 m-2" style="max-width: 600px;">
                    <img src="@Html.DisplayFor(model => model.Book.PictureLink)"
                         class="card-img-top" alt="@Html.DisplayFor(model => model.Book.Title)">
                </div>
                <div class="col-7 m-2">
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Автор: @Html.DisplayFor(model => model.Book.Author)
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Категория: @Html.DisplayFor(model => model.Book.Category.Title)
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Брой страници: @Html.DisplayFor(model => model.Book.pages)
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Средна оценка: @Html.DisplayFor(model => model.Book.AvgRating) / 10
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Прочетена: @Html.DisplayFor(model => model.Readers.Count) пъти
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            @Html.DisplayFor(model => model.Book.ISBN)
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                           Вие сте стигнали до  @Html.DisplayFor(model => model.userPage) страница.
                        </small>
                    </p>

                </div>
                </div>
            </div>



            <div class="d-flex justify-content-between align-items-center p-3">
                <h2 class="card-title">@Html.DisplayFor(model => model.Book.Title) (@Html.DisplayFor(model => model.Book.YearOfPublish)) г.</h2>

                
                    <div class="d-flex flex-column">
                        @if (loggedUser.Role == "Библиотекар")
                        {

                            <a asp-action="UploadPdf" asp-route-id=@Model.Book.Id>Добави Pdf <i class="bi bi-file-pdf"></i></a>
                        }
                        <a asp-action="ReadBook" asp-route-id=@Model.Book.Id>  Прочети <i class="bi bi-book"></i></a>

                    </div>

                @if(Model.inFavorite == null || Model.inFavorite == false){
                    <a asp-action="AddToFavorites" asp-route-id=@Model.Book.Id> Добави в любими <i class="bi bi-heart"></i></a>
                }else
                {
                    <a asp-action="RemoveFromFavorites" asp-route-id=@Model.Book.Id> Премахни от любими <i class="bi bi-heart"></i></a>

                }
                @if(Model.isAlreadyBorrowed == null || Model.isAlreadyBorrowed == false)
                {
                    <a asp-action="BorrowBook" asp-controller="Book" asp-route-id=@Model.Book.Id> Заеми книга <i class="bi bi-plus"></i></a>
                }
            </div>
             <p class="card-text p-3">@Html.DisplayFor(model => model.Book.Description)</p>
            <h2 class="text-center">Последни 10 читатели:</h2>
            @foreach (User user in Model.Readers)
            {
                <p class="text-center">Име: @user.Name </p>
            }
            
    </div>
    <div class="card mb-3 mt-5" style="width:80%">
        <h2 class="card-title"> Остави оценка</h2>

        <form asp-action="RateBook" asp-controller="Book" method="post">
            <input type="hidden" asp-for="Rating.BookId" value="@Model.Book.Id" />
            <div class="form-group">
                <label asp-for="Rating.Comment" class="control-label"></label>
                <input asp-for="Rating.Comment" class="form-control" />
                <span asp-validation-for="Rating.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.Rate" class="control-label"></label>
                <input asp-for="Rating.Rate" class="form-control" min="0" max="10" />
                <span asp-validation-for="Rating.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Коментирай" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div>



        <div class="card mb-3 mt-5" style="width:80%">
            <h2 class="card-title"> Коментари и оценки за @Html.DisplayFor(model => model.Book.Title) (@Html.DisplayFor(model => model.Book.YearOfPublish)) г.</h2>

           @foreach (Rating rating in Model.Ratings)
           {

                <div class="card-body" style="background-color: gainsboro; border: solid 1px;">

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Потребител: @rating.User.Username</h5>

                        <p class="card-text">
                            <small class="text-body-secondary">
                                Оценка:  @rating.Rate
                            </small>
                        </p>

                    </div>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Коментар: @rating.Comment
                        </small>
                    </p>
                </div>
           }
               
            
        </div>
    </div>
</div>

<div>
    <a asp-action="Catalog">Назад</a>
</div>