@model Book;
@{
    ViewData["Title"] = "Read Book";
    var value = this.ViewContext.HttpContext.Session.GetString("loggedUser");
    User loggedUser = null;
    if (value != null)
    {
        loggedUser = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(value);
    }
}


<h1></h1>

<div>
    <div class="card mb-3" style="width:80%">
        <div class="card-body style="display:flex">
            <h2 class="card-title">@Html.DisplayFor(model => model.Title) (@Html.DisplayFor(model => model.YearOfPublish)) г.</h2>
            <p class="card-text">
                <small class="text-body-secondary">
                    Автор: @Html.DisplayFor(model => model.Author)
                </small>
            </p>  
            @if (Model.PdfFilePath != null && Model.PdfFilePath.Trim() != "") {
                <p> Изтегли <i class="bi bi-file-pdf"></i> <a href="@Url.Content(Model.PdfFilePath)"> от тук</a></p>
                <embed src="@Url.Content(Model.PdfFilePath)" type="application/pdf" width="100%" height="900px"/>
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Catalog">Към каталога с книги</a>
</div>
